[submodule "LEMP-benchmarking"]
	path = LEMP-benchmarking
	url = git@github.com:stanford-futuredata/LEMP-benchmarking.git
[submodule "fexipro-orig"]
	path = fexipro-orig
	url = git@github.com:stanford-futuredata/FEXIPRO-orig.git
