*.sw*
*.csv
*.txt
# ctags
tags
# C++ binary files
*.o
simdex
# Visual Studio Code
.vscode
# Python binary files
__pycache__/
# workspace dirs
lemp-icc-no-simd/
lemp-icc-simd/
lemp-no-icc-no-simd/
lemp-no-icc-simd/
exp/
