*.sw*
*.csv
*.txt
.ycm_extra_conf.py
# ctags
tags
# C++ object files
*.o
# Executables
simdex
simdex_stats
simdex_debug
# Visual Studio Code
.vscode
# Python binary files
__pycache__/
# workspace dirs
lemp-simd/
lemp-simd-decision-rule-test-only/
fexipro-orig-build/
fexipro-orig-build-decision-rule/
fexipro-orig-build-decision-rule-test-only/
exp/
